.oak_add_object_add_object_button__icons {
    width: 15px;
}

.oak_add_object_form_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.oak_add_object_add_form_button, .oak_add_object_add_line_button, .oak_add_object_add_space_button, .oak_add_object_form_options__button {
    border: 1px solid #003366;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    width: 25px;
    height: 20px;
    margin-left: 5px;
    color: #003366;
}

.oak_add_object_add_form_button:hover, .oak_add_object_add_line_button:hover, .oak_add_object_add_space_button, .oak_add_object_form_options__button:hover {
    cursor: pointer;
}

.oak_add_object_forms_list__single_form {
    border-bottom: 1px solid #e2e4e7;
    padding-bottom: 30px;
}

.oak_add_object_forms_list__horizontal {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 10px;
}

.oak_add_object_forms_list__vertical {
    display: flex;
    flex-direction: column;
    flex: 1;
}

select {
    flex: 1;
}

.oak_add_object_label {
    margin-bottom: 7px;
}

.oak_add_object_and_form_button, .oak_add_object_add_line_button, .oak_add_object_add_space_button, .oak_add_object_field_options__button {
    border: 1px solid #003366;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    // padding: 5px;
    width: 25px;
    height: 20px;
    margin-left: 5px;
    color: #003366;
}

.oak_add_object_form_options__button i {
    font-size: 20px;
}

.oak_add_object_and_form_button:hover, .oak_add_object_add_line_button:hover, .oak_add_object_add_space_button:hover, .oak_add_object_field_options__button:hover {
    cursor: pointer;
}

.oak_add_object_forms_list__single_form {
    border-bottom: 1px solid #e2e4e7;
    padding-bottom: 30px;
}

.oak_add_object_container_header_icon {
    width: 15px;
}

.oak_add_object_forms_list__horizontal_without_margin_top {
    margin-top: 0px;
}

.oak_add_form_container__isert_form_title_container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.oak_add_form_container__isert_form_title {
    margin: 0px;
    padding-left: 5px;
    background-color: white;
    color: #003366;
}

.oak_add_object_forms_list__horizontal_very_small {
    flex: .3;
    justify-content: space-around;
}

.oak_add_object_forms_list__horizontal_small {
    flex: 1;
    justify-content: flex-end;
}

.oak_add_form_label_width {
    margin-right: 30px;
}

.without_margin_bottom {
    margin-bottom: 0px;
}

.oak_add_object_and_form_button__icons {
    width: 15px;
}

.oak_add_object_form_buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.oak_add_object_form_options {
    justify-content: space-between;
}

.oak_add_object_forms_list__buttons_container {
    display: flex;
    justify-content: flex-end;
}

.oak_add_object_seperator {
    border: 1px solid #003366;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.oak_add_object__delete_separator_button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.oak_add_object_container__logo_img {
    width: 200px;
}

.oak_add_field_container__headpiece_img {
    width: 200px;
    height: auto;
}

.oak_add_object_model_image {
    width: 200px;
    height: auto;
}


// For the modal
.oak_add_element_modal_container {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oak_object_model_add_formula_modal_container__activated {
    opacity: 1;
    z-index: 10;
}

.oak_add_element_modal_container__modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 30%;
    z-index: 4;
}

.oak_object_model_add_formula_modal_container_modal__big_modal {
    width: 70%;
    top: 5%;
    height: 80%
}

.oak_add_element_modal_container_modal__title_container {
    text-align: center;
}

.oak_add_element_modal_container_modal__buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.oak_add_element_modal_container_modal__error {
    color: #FC394D;
    margin-top: 5px;
    font-weight: bold;
}

.oak_add_element_modal_container_modal_buttons_container__cancel_button_container, .oak_add_element_modal_container_modal_buttons_container__add_button_container, .oak_add_element_modal_container_modal_buttons_container__ok_button_container {
    background-color: #24E08C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    border: 1px solid #24E08C;
}

.oak_add_element_modal_container_modal_buttons_container__cancel_button_container:hover, .oak_add_element_modal_container_modal_buttons_container__add_button_container:hover, .oak_add_element_modal_container_modal_buttons_container__ok_button_container:hover {
    cursor: pointer;
    background-color: white;
}

.oak_add_element_modal_container_modal_buttons_container__cancel_button_container {
    background-color: #FC394D;
    border: 1px solid #FC394D;
}

.oak_add_element_modal_container_modal_buttons_container__cancel_button_container:hover span {
    color: #FC394D;
}

.oak_add_element_modal_container_modal_buttons_container__add_button_container:hover span, .oak_add_element_modal_container_modal_buttons_container__ok_button_container:hover span {
    color: #24E08C;
}

.oak_add_element_modal_container_modal_buttons_container_cancel_button_container__text, .oak_add_element_modal_container_modal_buttons_container_add_button_container__text {
    color: white;
}
// Done with the modal