body #wpcontent {
    padding-left: 0px;
}

.oak_hidden_information_container {
    display: none;
}

.oak__admin_analysis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.oak_admin_analysis__chart_container {
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    border-top: none;
}

.oak_admin_analysis__list {
    width: 90%;
}

.oak_critical_analysis_configuration__principles {
    width: 80%;
}

.oak_admin_analysis_list__tile_container {
    background-color: #3B414E;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oak_admin_analysis_list_tile_container__tile {
    color: white;
}

.oak_admin_analysis_list_tile_container__add_analysis_button, .oak_admin_analysis_modals_container_add_modal__cancel_button, .oak_admin_analysis_modals_container_add_modal__add_button {
    background-color: #24E08C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    border: 1px solid #24E08C;
}

.oak_admin_analysis_list_tile_container__add_analysis_button:hover, .oak_admin_analysis_modals_container_add_modal__cancel_button:hover, .oak_admin_analysis_modals_container_add_modal__add_button:hover {
    cursor: pointer;
    background-color: white;
}

.oak_admin_analysis_list_tile_container__add_analysis_button:hover span, .oak_admin_analysis_modals_container_add_modal__add_button:hover span {
    color: #24E08C;
}

.oak_admin_analysis_list_tile_container_add_analysis_button__text, .oak_admin_analysis_modals_container_add_modal_cancel_button__text, .oak_admin_analysis_modals_container_add_modal_add_button__text {
    color: white;
}

.oak_admin_analysis_list__single_analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.oak_admin_analysis_list_single_analysis__title {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    border: 1px solid #E1E1E1;
    font-size: 30px;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria__upper_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oak_admin_analysis_list_single_analysis__single_principle {
    background-color: white;
    width: 100%;
}

.oak_admin_analysis_list_single_analysis_single_principle__principle_title {
    padding-left: 20px;
    font-size: 30px;
    border: 1px solid #E1E1E1;
    border-top: none;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0px;
    color: #FC394D;
}

.oak_admin_analysis_list_single_analysis_single_principle__single_criteria {
    border: 1px solid #E1E1E1;
    border-top: none;
}

.oak_admin_analysis_list_single_analysis_single_principle__single_criteria {
    padding: 0px 20px;
    padding-bottom: 20px;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria_upper_content__score_container {
    display: flex;
    align-items: center;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria__criteria_title {
    font-size: 25px;
    line-height: 30px;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria_upper_content_score_container__label {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria__remark_label {
    font-size: 20px;
    margin-bottom: 10px;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria__remark, {
    width: 100%;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria__notes_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria_notes_container__single_note {
    width: 47.5%;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria_notes_container__single_note h4 {
    margin-top: 0px;
}

.oak_admin_analysis_list_single_analysis_single_principle_single_criteria_notes_container_single_note__to_sustain_textarea, .oak_admin_analysis_list_single_analysis_single_principle_single_criteria_notes_container_single_note__to_improve_textarea {
    width: 100%;
}

.oak_admin_analysis_list_single_analysis__delete_button {
    position: absolute;
    right: 20px;
    top: 20px;
}

// For the modal container 
.oak_admin_analysis__modals_container {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
    transition: all .1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.oak_admin_analysis__modals_container_activated {
    opacity: 1;
    z-index: 10;
}

// Done with the modal container


// For the add modal itself
.oak_admin_analysis_modals_container__add_modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 30%;
}

.oak_admin_analysis_modals_container_add_modal__title_container {
    text-align: center;
}

.oak_admin_analysis_modals_container_add_modal__error {
    color: #FC394D;
    margin-top: 5px;
    font-weight: bold;
}

.oak_admin_analysis_modals_container_add_modal__buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.oak_admin_analysis_modals_container_add_modal__cancel_button {
    background-color: #FC394D;
    border: 1px solid #FC394D;
}

.oak_admin_analysis_modals_container_add_modal__cancel_button:hover span {
    color: #FC394D;
}

// Done with the add modal

.oak_admin_analysis__save_container {
    position: fixed;
    background-color: #389EF0;
    bottom: 30px;
    right: 30px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    z-index: 100;
}

.oak_admin_analysis__save_container:hover {
    cursor: pointer;
}

.fa-save {
    color: white;
    font-size: 30px;
}

.oak_admin_analysis_save_container__text {
    color: white
}