#wpadminbar {
    display: none;
}

.oak_charts {
    width: 80%;
    margin: auto;
}

.oak_charts_all_principles_averages {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.oak_charts_all_principles_averages__single_principle {
    width: 50%;
}

.oak_charts_all_principles_averages_single_principle__title {
    text-align: center;
}