.oak_add_other_elements_list__horizontal {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 10px;
}

.oak_add_other_elements_list__vertical {
    display: flex;
    flex-direction: column;
    flex: 1;
}

select {
    flex: 1;
}

.oak_add_other_element_label {
    margin-bottom: 7px;
}

.oak_add_form_add_field_button, .oak_add_form_add_line_button, .oak_add_form_add_space_button, .oak_add_form_field_options__button {
    border: 1px solid #003366;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    // padding: 5px;
    width: 25px;
    height: 20px;
    margin-left: 5px;
    color: #003366;
}

.oak_add_form_field_options__button i {
    font-size: 20px;
}

.oak_add_form_add_field_button:hover, .oak_add_form_add_line_button:hover, .oak_add_form_add_space_button:hover, .oak_add_form_field_options__button:hover {
    cursor: pointer;
}

.oak_add_other_elements_list__single_element {
    border-bottom: 1px solid #e2e4e7;
    padding-bottom: 30px;
}

.oak_add_form_container_header_icon {
    width: 15px;
}

.oak_add_other_elements_list__horizontal_without_margin_top {
    margin-top: 0px;
}

.oak_add_field_container__isert_field_title_container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oak_add_model_forms_list__horizontal {
    display: flex;
    align-items: center;
}

.oak_add_field_container__isert_field_title {
    margin: 0px;
    padding-left: 5px;
    background-color: white;
    color: #003366;
}

.oak_add_model_forms_list__horizontal_very_small {
    flex: .3;
    justify-content: space-around;
}

.oak_add_model_forms_list__horizontal_small {
    flex: 1;
    justify-content: flex-end;
}

.oak_add_field_label_width {
    margin-right: 30px;
}

.without_margin_bottom {
    margin-bottom: 0px;
}

.oak_add_form_add_field_button__icons {
    width: 15px;
}

.oak_add_form_field_buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.oak_add_other_elements_options {
    justify-content: space-between;
}

.oak_add_form_fields_list__buttons_container {
    display: flex;
    justify-content: flex-end;
}

.oak_add_form_seperator {
    border: 1px solid #003366;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.oak_add_form__delete_separator_button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.oak_add_model_forms_list__horizontal label {
    margin-bottom: 0px;
    margin-right: 30px;
}