.oak_add_field_container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;
    flex: 1;
}

.oak_add_field_container__label_instruction {
    margin-bottom: 10px;
}

.oak_add_field_container__label {
    min-width: 50px;
    color: #003366;
    margin-bottom: 10px;
}

.oak_add_field_container__field_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
}

.oak_add_field_container__identifier_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.oak_add_field_container__identifier {
    flex: 1;
}

.oak_add_field_container__horizontal_container {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e4e7;
}

.oak_add_field_container__type_container, .oak_add_field_container__function_container, .oak_add_field_container__default_value_container, .oak_add_field_container__before_container, .oak_add_field_container__after_container, .oak_add_field_container__max_length_container, .oak_add_field_container__selector_container {
    display: flex;
    flex-direction: column;
}

.oak_add_field_container__function, .oak_add_field_container__type, .oak_add_field_container__default_value, .oak_add_field_container__before, .oak_add_field_container__after, .oak_add_field_container__max_length, .oak_add_field_container__selector {
}

.oak_add_field_container__type_container, .oak_add_field_container__before_container, .oak_add_field_container__after_container, .oak_add_field_container__max_length_container {
    margin-right: 20px;
}

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea, .oak_add_field_container__input {
    border-color: #003366;
    border-width: .5px;
}

.oak_add_field_container__input {
    flex: 1;
}

.oak_add_field_container__add_button, .oak_add_field_container__update_button, .oak_add_field_container__register_button, .oak_add_field_container__broadcast_button, .oak_add_field_container__draft_button, .oak_add_field_container__trash_button {
    border: 1px solid #24E08C;
    background-color: #24E08C;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    align-self: flex-end;
    margin-left: 10px;
}

.oak_add_field_container__trash_button {
    border: 1px solid #FC394D;
    background-color: #FC394D;
}

.oak_add_field_container__add_button:hover, .oak_add_field_container__update_button:hover, .oak_add_field_container__register_button:hover, .oak_add_field_container__broadcast_button:hover, .oak_add_field_container__draft_button:hover, .oak_add_field_container__trash_button:hover  {
    cursor: pointer;
    background-color:white;
}

.oak_add_field_container__add_button:hover span, .oak_add_field_container__update_button:hover span, .oak_add_field_container__register_button:hover span, .oak_add_field_container__broadcast_button:hover span, .oak_add_field_container__draft_button:hover span {
    color: #24E08C
}

.oak_add_field_container__trash_button:hover span {
    color: #FC394D;
}

.oak_add_field_container__add_button span, .oak_add_field_container__update_button span, .oak_add_field_container__register_button span, .oak_add_field_container__broadcast_button span, .oak_add_field_container__draft_button span, .oak_add_field_container__trash_button span {
    color: white;
}

.oak_add_field_container__saved_field_container {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    position: relative;
}

.oak_add_field_container__saved_field_container__delete_button {
    position: absolute;
    right: 10px;
    color: #FC394D;
}

.oak_add_field_container__saved_field_container__delete_button:hover {
    cursor: pointer;
}

.oak_add_field_container__designation_container {
    display: flex;
}

.oak_add_field_container__label_designation, .oak_add_field_container__label_selector {
    margin-right: 10px;
}

.oak_add_field_container__selector {
    flex: initial;
    margin-top: 1px!important;
}

.oak_add_field_container__cancel_button {
    background-color: #6F6F6F;
    border: 1px solid #6F6F6F;
    color: white;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 5px;
    width: 100px;
    align-self: flex-start;
}

.oak_add_field_container__cancel_button:hover {
    background-color: white;
    color: #6F6F6F;
    cursor: pointer;
}

.oak_add_field_container__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

// For the tabs
.oak_add_field_big_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.oak_add_field_big_container__tabs {
    width: 280px;
    background-color: white;
}

.oak_add_field_big_container_tabs_titles__single_title {
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.oak_add_field_big_container_tabs_titles__single_title:hover {
    cursor: pointer;
}

.oak_add_field_big_container_tabs_titles__single_title_selected {
    border-bottom: 2px solid #f15c3b;
}

.oak_add_field_big_container_tabs__titles {
    background-color: #F3F4F5;
}

.oak_add_field_container__title {
    margin: 0px;
    padding: 20px;
    padding-left: 5px;
    background-color: white;
    color: #003366;
}

.oak_add_field_big_container_tabs_single_tab__section {
    padding: 20px;
    border-bottom: 1px solid #e2e4e7;
}

.oak_add_field_big_container_tabs_single_tab_section__title {
    font-size: 13px;
    margin: 0px;
    margin-bottom: 10px;
}

.oak_add_field_big_container_tabs_single_tab_section__state {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    position: relative;
}

.oak_add_field_big_container_tabs_single_tab_section_state_label {
    margin-right: 10px;
}

.oak_add_field_container_buttons__right_buttons {
    display: flex;
}

.oak_add_field_big_container_tabs_single_tab_section_state__browse {
    color: #1486B8;
    margin-left: 5px;

}

.oak_add_field_big_container_tabs_single_tab_section_state__browse:hover {
    cursor: pointer;
}

.oak_add_field_big_container_tabs_single_tab_section_state__info_container {
    display: flex;
    align-items: center;
}

.oak_object_model_add_formula_modal_container_modal_content__revisions_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content__revision_data_container, .oak_object_model_add_formula_modal_container_modal_content_revisions_content__current {
    // width: 40%;
    display: flex;
    flex-direction: column;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content__revision_data_container h3, .oak_object_model_add_formula_modal_container_modal_content_revisions_content__current h3, .oak_object_model_add_formula_modal_container_modal_content_revisions_content__list_of_revisions h3 {
    text-align: center;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content__list_of_revisions {
    width: 30%;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content_list_of_revisions__single_revision {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #1486B8;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content_list_of_revisions__single_revision_selected {
    border: 2px solid #24E08C;
}


.oak_object_model_add_formula_modal_container_modal_content_revisions_content_list_of_revisions__single_revision:hover {
    cursor: pointer;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content_revision_data_container__single_data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content__revision_data_container {
    margin-right: 20px;
    margin-left: 20px;
}

.oak_object_model_add_formula_modal_container__modal_content {
    overflow: scroll;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content__current input, .oak_object_model_add_formula_modal_container_modal_content_revisions_content__revision_data_container input {
    margin-bottom: 5px;
}

.oak_error {
    border: 1px solid #FC394D!important;
}

.oak_add_field_big_container_tabs_single_tab_section_state__info {
    text-align: right;
}

.oak_add_field_container__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e4e7;
}

.oak_add_field_container_header_icon {
    width: 15px;
    margin-left: 25px;
}

.oak_left_field {
    border-right: 1px solid #e2e4e7;
    padding-right: 20px;
    margin-right: 20px;
}

.oak_select_go_button {

}
