.oak_fields_list_top_container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}


.oak_add_field_container_saved_field_container__update_button:hover {
    cursor: pointer;
}

.oak_list_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oak_list_header_left, .oak_list_header_right {
    display: flex;
    align-items: center;
}

.oak_list_header__icon {
    width: 15px;
    margin-right: 10px;
}

.oak_list_button {
    color: #003366;
    padding: 12px; 
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #003366;
    margin-left: 20px;
    margin-right: 20px;
    transition: all .1s ease-in-out;
}

.oak_list_header__add_button:hover {
    background-color: #003366;
    color: white;
    cursor: pointer;
}

.oak_list_row {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #e2e4e7;
}


.oak_list_row_container__title {
    color: #003366;
}

.oak_add_field_container__fields_list {
    border: 1px solid #e2e4e7;
    margin-top: 20px;
}

.oak_list_row__container {
    display: flex;
    align-items: center;
    width: 200px;
}

.oak_list_row__container span {
    color: #003366;
}

.oak_list_row__container .oak_passiv {
    color: #7b7b7b;
}

.oak_list_row__container i {
    margin-right: 10px;
    color: #e2e4e7;
    font-size: 20px;
}

.oak_list_row_container__img {
    margin-right: 10px;
    width: 20px;
}

.oak_list_titles_container__checkbox {
    margin-top: 2px!important;
    margin-right: 20px!important;
}

.oak_dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #24E08C;
}

.oak_dot_false {
    background-color: #FC394D;
}

.oak_grouped_actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.oak_grouped_actions__element {
    margin-right: 10px;
    border-radius: 0px;
    max-width: 170px;
    border: 0;
    outline: 1px solid #003366;
    height: 35px!important;
}

.oak_list_button:hover {
    cursor: pointer;
    background-color: #003366;
    color: white;
}

.oak_grouped_actions__grouped_actions {
    margin-right: 0px;
}

.oak_list_grouped_actions_button {
    margin-left: 5px;
}

.oak_list_header_right__search_input {
    height: 35px;
}

.oak_list_highlighted {
    background-color: #FC394D;
}
