.oak_fields_list_top_container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.oak_add_field_container_saved_field_container__update_button {

}

.oak_add_field_container_saved_field_container__update_button:hover {
    cursor: pointer;
}
