.oak_configuration_page_field_container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.oak_configuration_page_save_central_url_button {
    color: #003366;
    border: 1px solid #003366;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.oak_configuration_page_save_central_url_button:hover {
    cursor: pointer;
    background-color: #003366;
    color: white;
}

.oak_configuration_page__title {
    margin-bottom: 30px;
}

.oak_configuration_page {
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.oak_configuration_page__label {
    margin-right: 5px;
}

.oak_configuration_page_checkbox {
    margin-top: 1px;
}

.oak_configuration_page__input {
    width: 400px;
}

.oak_configuration_page__label {
    width: 200px;
}

.oak_configuration_page_perimeter_title {
    margin-bottom: 10px;
}

.oak_configuration_page__perimeter_checkbox {
    margin-right: 10px!important;
    margin-top: 1px!important;
}

.oak_confiugration_page__perimeter_field {
    margin-left: 30px;
}