.oak_configuration_page_field_container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.oak_configuration_page_save_central_url_button {
    color: #003366;
    border: 1px solid #003366;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.oak_configuration_page_save_central_url_button:hover {
    cursor: pointer;
    background-color: #003366;
    color: white;
}

.oak_configuration_page__title {
    margin-bottom: 30px;
}

.oak_configuration_page {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.oak_configuration_page__label {
    margin-right: 5px;
}

.oak_configuration_page_checkbox {
    margin-top: 1px;
}

.oak_configuration_page__input {
    width: 400px;
}

.oak_configuration_page__label {
    width: 200px;
}

.oak_configuration_page_perimeter_title {
    margin-bottom: 10px;
}

.oak_configuration_page__perimeter_checkbox {
    margin-right: 10px!important;
    margin-top: 1px!important;
}

.oak_confiugration_page__perimeter_field {
    margin-left: 30px;
}

.oak_configuration_page .nav-tab-wrapper {
    width: 100%;
}

.oak_configuration_page__general_config {
    margin-top: 20px;
    width: 100%;
}

.oak_configuration_page__save_general_settings_button, .oak_configuration_page__save_system_bar_settings_button {
    margin-top: 10px;
}

.oak_configuration_page__single_parameter {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #003366;
    padding-bottom: 20px;
}

.oak_configuration_page_single_parameter__input_container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.oak_configuration_site_logo, .oak_configuration_site_icon {
    width: 250px;
    height: auto;
}

.oak_configuration_button {
    margin-right: 150px;
}

.oak_configuration_page__system_bar_config .oak_configuration_page__single_parameter, .oak_configuration_page__nav_bar_config .oak_configuration_page__single_parameter {
    flex-direction: row;
    flex-wrap: wrap;
}

.oak_configuration_page__system_bar_config .oak_configuration_page__single_parameter .oak_configuration_page_single_parameter__input_container, .oak_configuration_page__nav_bar_config .oak_configuration_page__single_parameter .oak_configuration_page_single_parameter__input_container {
    width: 50%;
}

.oak_configuration_page__system_bar_config .color_additional_container, .oak_configuration_page__nav_bar_config .color_additional_container {
    margin-top: 50px;
}

.oak_configuration_page__system_bar_config .text_field_description, .oak_configuration_page__nav_bar_config .text_field_description {
    // margin-left: 0px;
}

.oak_tab_2 .text_field_description {
    position: initial;
    font-size: 15px;
}

.oak_tab_2 input[type=checkbox] {
    margin-top: 1px;
}

.oak_configuration_page__colors_container {
    width: 600px;
}

.oak_configuration_page__single_color_container {
    display: flex;
    margin-top: 30px;
}

.oak_configuration_page_single_color_container__primary_container, .oak_configuration_page_single_color_container__secondary_container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.oak_tab_4 .oak_configuration_page__add_style_button {
    bottom: 10px;
    top: initial;
    right: 0px;
    left: initial;
}

.oak_tab_4 .oak_text_field_container, .oak_tab_4 .oak_text_field_container_identifier {
    background-color: none;
}

.oak_colors_configuration_title {
    margin-bottom: 20px;
    text-decoration: underline;
}

.oak_tab_4 {
    padding-bottom: 40px;
    position: relative;
}

.oak_tab_3 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.oak_tab_3 .oak_color_container {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.oak_tab_3 .oak_configuration_page__single_menu_container {
    margin-bottom: 30px;
}

.oak_tab_3 .oak_color_container .oak_color_description {
    width: 300px;
}

.oak_configuration_page_nav_bar_config__menu_title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.oak_tab_4 .oak_configuration_page__save_styles {
    position: relative;
    top: 20px;
}