.oak_graphs_configuration {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.oak_graphs_configuration_configuration_element_container__labels, .oak_graphs_configuration_configuration_element_container__performances {
    margin-top: 20px;
    display: flex;
    overflow: scroll;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 17px;
}

.oak_graphs_configuration_element_container__single_element {
    border: 1px solid #003366;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
    color: #003366;
    transition: all .2s ease-in-out;
    white-space: nowrap;
}

.oak_graphs_configuration_configuration_element_container_performances__single_performance_container .oak_graphs_configuration_element_container__single_element {
    margin-left: 25px;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
}

.oak_graphs_configuration_element_container__single_element:hover {
    cursor: pointer;
}

.oak_graphs_configuration_configuration_element_container_performances__single_performance_container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid #003366;
    margin-right: 10px;
    padding-left: 5px;
}

.oak_graphs_configuration_element_container_single_element__considered {
    color: white;
    background-color: #003366;
}

.oak_graphs_configuration__configuration_element_container {
    margin-bottom: 20px;
    width: 100%;
}

.oak_performance_title {
    font-size: 15px;
    margin: 0px;
    margin-bottom: 10px;
    height: 80px;
    width: 300px;
}

.oak_performance_container {
    display: flex;
    align-items: flex-start;
}

.oak_performance_checkbox {
    margin-top: 1px!important;
    margin-right: 10px!important;
}

.oak_graph_canvas {
    margin-top: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.oak_graph_canvas:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
}

.oak_graphs_configuration__chart_container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    padding-left: 10px;
}

.oak_selected_graph_container {
    width: 100%;
}

.oak_single_parameter {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.oak_single_parameter__label {
    margin-right: 10px;
    width: 200px;
}

.oak_single_parameter__input {
    flex: 1;
}

.oak_selected_graph_container__configuration {
    margin-bottom: 20px;
}

.refresh_graph_button, .oak_save_graph_button {
    padding: 5px;
}

.oak_graphs_actual_config {
    width: 50%;
    border-right: 1px solid #003366;
    padding-right: 10px;
}

.oak_graph_legend_configuration {
    margin-top: 30px;
}

.graph_legend_normal_configuration {
    display: flex;
    flex-direction: column;
}

.oak_single_legend_parameter__input, .oak_single_legend_label_parameter__input {
    flex: 1;
}

.oak_graph_legend_configuration input[type=checkbox] {
    flex: initial;
}