.oak_add_element_container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;
    flex: 1;
}

.oak_add_element_container__label_instruction {
    margin-bottom: 10px;
}

.oak_add_element_container__label {
    min-width: 50px;
    color: #003366;
    margin-bottom: 10px;
}

.oak_add_element_container__field_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
}

.oak_add_element_container__identifier_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.oak_add_element_container__identifier {
    flex: 1;
}

.oak_add_element_container__horizontal_container, .oak_superficial_results_container, .oak_superficial_objectives_container {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.oak_superficial_results_container, .oak_superficial_objectives_container {
    width: 100%;
}

.oak_add_element_container__type_container, .oak_add_element_container__function_container, .oak_add_element_container__default_value_container, .oak_add_element_container__before_container, .oak_add_element_container__after_container, .oak_add_element_container__max_length_container, .oak_add_element_container__selector_container {
    display: flex;
    flex-direction: column;
}

.oak_add_element_container__function, .oak_add_element_container__type, .oak_add_element_container__default_value, .oak_add_element_container__before, .oak_add_element_container__after, .oak_add_element_container__max_length, .oak_add_element_container__selector {
}

.oak_add_element_container__type_container, .oak_add_element_container__before_container, .oak_add_element_container__after_container, .oak_add_element_container__max_length_container {
    margin-right: 20px;
}

// For the text field and the select

.oak_text_field {
    width: 100%!important;
}

.oak_text_field_container, .oak_text_field_container_identifier {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    background-color: #e5e9ef;
    padding-top: 5px;
    flex: 1;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.other_elements_input_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    background-color: #e5e9ef;
    flex: 1;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.oak_text_field_container_identifier {
    padding-bottom: 3px;
}

.oak_text_field_container_identifier input {
    margin-top: 0px;
}

.oak_checkbox_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding-top: 5px;
    flex: 1;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.oak_checkbox_container__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
    max-height: 100px;
    // overflow: hidden;
}

.oak_text_field_container:hover {
    cursor: text;
}

.oak_text_field, .oak_text_field:focus {
    -webkit-appearance: none;
    border: none!important;
    box-shadow: none!important;
    position: relative!important;
    overflow: visible!important;
    background-color: #e5e9ef!important;
    margin-top: 3px;
    width: 100%;
    outline-width: 0;
}

.text_field_line {
    background-color: #000c3b;
    width: 0%;
    height: 1px;
    transition: all .15s ease-in-out;
}

.text_field_line_focused {
    background-color: #f06648;
    width: 100%;
    height: 1px;
}

.text_field_line_not_focused_but_something_written {
    background-color: #000c3b;
    width: 100%;
    height: 1px;
}

.input_line {
    background-color: #000c3b;
    width: 100%;
    height: 1px;
}

.checkbox_line {
    background-color: #000c3b;
    width: 100%;
    height: 1px;
}

.oak_text_field_placeholder {
    position: absolute;
    color: #abb7cc;
    left: 5px;
    bottom: 8px;
    transition: all .1s ease-in-out;
}

.oak_text_field_checkbox_description {
    color: #000c3b;
    transition: all .1s ease-in-out;
}

.text_field_description {
    position: absolute;
    bottom: -15px;
    color: #000c3b;
    font-size: 10px;
    margin-left: 7px;
    white-space:nowrap
}

.oak_text_field_placeholder_focused {
    top: -4px;
    font-size: 10px;
    left: 5px;
    color: #f06648;
    height: 5px;
}

.oak_text_field_placeholder_not_focused_but_something_written {
    top: -4px;
    font-size: 10px;
    color: #000c3b;
    left: 5px;
}

.oak_select_container {
    flex: 1;
    position: relative;
    margin-right: 25px;
}

.oak_select_container__selector {
    flex: .3;
}

.oak_select_container select {
    width: 100%;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    text-align-last: left!important;
    height: inherit!important;
}

.oak_select_container__bottom_arrow {
    position: absolute;
    right: 10px;
    top: 25px;
    top: 10px;
}


// Done with the text field;

.oak_add_element_container__add_button, .oak_add_element_container__update_button, .oak_add_element_container__register_button, .oak_add_element_container__broadcast_button, .oak_add_element_container__draft_button, .oak_add_element_container__trash_button {
    border: 1px solid #96CEF0;
    background-color: #96CEF0;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 5px; 
    padding-right: 10px;
    padding-left: 10px;
    align-self: flex-end;
    margin-right: 10px;
}

.oak_add_element_container__trash_button {
    border: 1px solid #f06648;
    background-color: #f06648;
}

.oak_add_element_container__add_button:hover, .oak_add_element_container__update_button:hover, .oak_add_element_container__register_button:hover, .oak_add_element_container__broadcast_button:hover, .oak_add_element_container__draft_button:hover, .oak_add_element_container__trash_button:hover  {
    cursor: pointer;
    background-color:white;
}

.oak_add_element_container__add_button:hover span, .oak_add_element_container__update_button:hover span, .oak_add_element_container__register_button:hover span, .oak_add_element_container__broadcast_button:hover span, .oak_add_element_container__draft_button:hover span {
    color: #96CEF0;
}

.oak_add_element_container__trash_button:hover span {
    color: #f06648;
}

.oak_add_element_container__add_button span, .oak_add_element_container__update_button span, .oak_add_element_container__register_button span, .oak_add_element_container__broadcast_button span, .oak_add_element_container__draft_button span, .oak_add_element_container__trash_button span {
    color: white;
}

.oak_add_element_container__saved_field_container {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    position: relative;
}

.oak_add_element_container__saved_field_container__delete_button {
    position: absolute;
    right: 10px;
    color: #f06648;
}

.oak_add_element_container__saved_field_container__delete_button:hover {
    cursor: pointer;
}

.oak_add_element_container__designation_container {
    display: flex;
}

.oak_add_element_container__label_designation, .oak_add_element_container__label_selector {
    margin-right: 10px;
}

.oak_add_element_container__selector {
    flex: initial;
    margin-top: 1px!important;
}

.oak_add_element_container__cancel_button {
    background-color: #6F6F6F;
    border: 1px solid #6F6F6F;
    color: white;
    transition: all .2s ease-in-out;
    text-align: center;
    padding: 5px;
    width: 100px;
    align-self: flex-start;
}

.oak_add_element_container__cancel_button:hover {
    background-color: white;
    color: #6F6F6F;
    cursor: pointer;
}

.oak_add_element_container__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

// For the tabs
.oak_add_element_big_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.oak_add_element_big_container__tabs {
    width: 280px;
    background-color: white;
}

.oak_add_element_big_container_tabs_titles__single_title {
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.oak_add_element_big_container_tabs_titles__single_title:hover {
    cursor: pointer;
}

.oak_add_element_big_container_tabs_titles__single_title_selected {
    border-bottom: 2px solid #f15c3b;
}

.oak_add_element_big_container_tabs__titles {
    background-color: #e5e9ef;
}

.oak_add_element_container__title {
    margin: 0px;
    padding: 20px;
    padding-left: 5px;
    background-color: white;
    color: #003366;
}

.oak_add_element_big_container_tabs_single_tab__section {
    padding: 20px;
    border-bottom: 1px solid #e2e4e7;
}

.oak_add_element_big_container_tabs_single_tab_section__title {
    font-size: 13px;
    margin: 0px;
    margin-bottom: 10px;
}

.oak_add_element_big_container_tabs_single_tab_section__state {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    position: relative;
}

.oak_add_element_big_container_tabs_single_tab_section_state_label {
    margin-right: 10px;
}

.oak_add_element_container_buttons__right_buttons {
    display: flex;
}

.oak_add_element_big_container_tabs_single_tab_section_state__browse {
    color: #1486B8;
    margin-left: 5px;

}

.oak_add_element_big_container_tabs_single_tab_section_state__browse:hover {
    cursor: pointer;
}

.oak_add_element_big_container_tabs_single_tab_section_state__info_container {
    display: flex;
    align-items: center;
}

.oak_add_element_modal_container_modal_content__revisions_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.oak_add_element_modal_container_modal_content_revisions_content__revision_data_container, .oak_add_element_modal_container_modal_content__revisions_content__current {
    // width: 40%;
    // display: flex;
    flex-direction: column;
}

.oak_add_element_modal_container_modal_content_revisions_content__revision_data_container h3, .oak_add_element_modal_container_modal_content__revisions_content__current h3, .oak_add_element_modal_container_modal_content_revisions_content__list_of_revisions h3 {
    text-align: center;
}

.oak_add_element_modal_container_modal_content_revisions_content__list_of_revisions {
    width: 30%;
}

.oak_add_element_modal_container_modal_content_revisions_content_list_of_revisions__single_revision {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #1486B8;
}

.oak_object_model_add_formula_modal_container_modal_content_revisions_content_list_of_revisions__single_revision_selected {
    border: 2px solid #96CEF0;
}


.oak_add_element_modal_container_modal_content_revisions_content_list_of_revisions__single_revision:hover {
    cursor: pointer;
}

.oak_add_element_modal_container_modal_content_revisions_data_content__single_data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.oak_add_element_modal_container_modal_content_revisions_content__revision_data_container {
    margin-right: 20px;
    margin-left: 20px;
}

.oak_add_element_modal_container_modal__content {
    overflow: scroll;
}

.oak_add_element_modal_container_modal_content__revisions_content__current input, .oak_add_element_modal_container_modal_content_revisions_content__revision_data_container input {
    margin-bottom: 5px;
}

.oak_error {
    border: 1px solid #f06648!important;
}

.oak_add_element_big_container_tabs_single_tab_section_state__info {
    text-align: right;
}

.oak_add_element_container__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e4e7;
}

.oak_add_element_container_header_icon {
    width: 15px;
    margin-left: 25px;
}

.oak_left_element {
    border-right: 1px solid #e2e4e7;
    padding-right: 20px;
    margin-right: 20px;
    flex: 1;
}

.oak_add_other_elements_list__vertical {
    flex: 1;
    position: relative;
}

.oak_add_element_separators_and_other_elements_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


// This is for other elements (Fields or forms whether we are in forms or models formulas)
.oak_other_elements_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.oak_other_elements_single_elements_container__single_element, .oak_other_elements_single_elements_container__final_selector_container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.oak_other_elements_single_elements_container__single_element {
    margin-bottom: 40px;
}

.oak_other_elements_single_elements_container__single_element .oak_text_field_container, .oak_other_elements_single_elements_container__single_element .oak_checkbox_container {
    margin-top: 0px;
}

.oak_other_elements_single_elements_container__final_selector_container {
    flex-direction: row;
    width: 100%;
}

.oak_filters_container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
}

.oak_other_elements_select option:first-of-type {
    color: #abb7cc;
}

input.oak_add_other_elements_list_single_element__chekcbox {
    border: 2px solid #abb7cc;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: flex;
    margin: 0px;
}

.oak_add_other_elements_list__single_element input[type=checkbox] {
    margin: 0px;
}

// For the not checked checkbox design: 
.oak_other_elements_single_elements_container__single_element_not_checked {
    width: 50%;
}

.oak_other_elements_single_elements_container__single_element_not_checked .oak_text_field_container, .oak_other_elements_single_elements_container__single_element_not_checked .oak_checkbox_container, .oak_other_elements_single_elements_container__single_element_not_checked .oak_filters_container {
    display: none;
}

.oak_other_elements_single_elements_container__single_element_not_checked .text_field_description, .oak_other_elements_single_elements_container__single_element_not_checked select, .oak_other_elements_single_elements_container__single_element_not_checked i, .oak_other_elements_single_elements_container__single_element_not_checked .oak_text_field_checkbox_description {
    color: #abb7cc;
}

.oak_other_elements_single_elements_container__single_element_not_checked .input_line {
    background-color: #abb7cc;
}

.oak_other_elements_container__title {
    color: #003366;
    margin-bottom: 15px;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 30px;
}

.oak_add_element_image_container {
    width: 200px;
    height: auto;
}

.additional_container {
    width:99%;
}

.oak_add_element_image_container .oak_checkbox_container__container {
    overflow: hidden;
}

.oak_other_elements_container__add_button, .oak_performance_result_add_button, .oak_performance_objective_add_button {
    background-color: #1c6bb5;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px;
    bottom: -50px;
    transition: all .2s ease-in-out;
}

.oak_other_elements_container__add_button {
    position: initial;
}

.oak_other_elements_container__add_button i, .oak_performance_result_add_button i {
    color: white;
}

.oak_other_elements_container__add_button:hover, .oak_performance_result_add_button:hover, .oak_performance_objective_add_button:hover {
    background-color: white;
    cursor: pointer;
}

.oak_other_elements_container__add_button:hover i, .oak_performance_result_add_button:hover i {
    color: #1c6bb5;
}


.oak_element_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
}

.oak_element_header i {
    color: white;
}

.oak_element_header .fa-caret-down {
    color: initial;
}

span.oak_number_of_selected_elements_text, .oak_number_of_other_selected_elements {
    color: #000c3b;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.oak_selected_other_elements_number_indicator {
    display: none;
}

.oak_element_header_at_least_one_selected .oak_selected_other_elements_number_indicator {
    display: block;
} 

.oak_other_elements_revision_inputs, .oak_other_elements_actual_revision_revision_inputs {
    margin-top: 5px;
}

.oak_other_elements_revision_title {
    margin-bottom: 5px;
}

.oak_other_elements_revision_inputs__single_element_container {
    border: 1px solid #000c3b;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.oak_add_element_terms_atribution_single_element {
    margin-bottom: 20px;
    display: flex;
    width: 50%;
}

.autocomplete {
    flex: 1;
}

.oak_autocomplete_input, .oak_autocomplete_selected_input {
    background-color: #e5e9ef!important;
}

.oak_add_element_taxonomy_title {
    margin-right: 10px;
    flex: 1;
}

.oak_objects_terms {
    margin-top: 50px;
}

.oak_add_element_formula_title {
    margin-top: 50px;
    padding-bottom: 0px;
}

.oak_color {
    width: 100%;
    height: 40px;
}

.color_additional_container {
    width: 100%;
}

.oak_calling_selector_image, .oak_calling_selector_file {
    color: #003366;
}

.publication_file_input {
    width: 100%;
    -webkit-appearance: none;
    border: none !important;
    box-shadow: none !important;
    position: relative !important;
    overflow: visible !important;
    background-color: #e5e9ef !important;
    margin-top: 3px;
    height: 33px;
}

.oak_model_fields_renaming_container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.oak_formula_title {
    margin-top: 30px;
    border-bottom: 1px solid #003366;
    padding-bottom: 5px;
    color: #003366;
}

.oak_performance_results_container, .oak_performance_objectives_container {
    position: relative;
    margin-bottom: 50px;
}

.oak_add_element_modal_container_content_revisions_list_of_revisions__language_title {
    margin-bottom: 10px;
}

.oak_select_container__filters_container {
    position: relative;
    display: flex;
}

.oak_select_container__single_filter {
    flex: 1;
    margin-right: 10px;
    position: relative;
}

body .oak_select_container_with_filters .input_line {
    margin-bottom: 20px;
}

.oak_select_container__filters_container .input_line {
    margin-bottom: 0px;
}

body .oak_select_container_with_filters .text_field_description {
    bottom: initial;
    top: 40px;
}

body .oak_select_container__filters_container .text_field_description {
    bottom: initial;
    top: 34px;
}

body .oak_select_container_with_filters__add_button {
    position: initial;
}

.oak_select_container_with_filters__single_element {
    position: relative;
    border: 1px solid #000c3b;
    padding: 5px;
    margin-bottom: 5px;
}

.oak_vertical_space {
    margin-top: 50px;
}

.oak_select_container_with_filters__title {
    margin-right: 20px;
}

.oak_select_container_with_filters_single_element__delete_button {
    position: absolute;
    right: -10px;
    top: -15px;
    z-index: 66;
    font-size: 30px;
    color: #f06648;
}

.oak_select_container_with_filters_single_element__delete_button:hover {
    cursor: pointer;
}

.oak_select_container_with_filters__title_container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.oak_add_element_ivwp__synchronise_button_container {
    display: flex;
}

.oak_add_element_ivwp__synchronise_button {
    background-color: #003366;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.oak_add_element_ivwp__synchronise_button:hover {
    cursor: pointer;
}

.oak_add_element_big_container_tabs_single_tab_section__select {
    width: 100%;
}