.update-nag, #footer-thankyou {
    display: none!important;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap, #wpadminbar {
    background-color: #003366;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
    background-color: #1c6ab5;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
    background-color: #1c6ab5;
}

#wpbody, body {
    background-color: white!important;
}

/* For the admin header */
.oak_admin_header {
    display: flex;
    justify-content: space-between;
    background-color: #003366;
}

.oak_admin_header_button {
    padding: 20px;
    transition: all .1s ease-in-out;
    text-align: center;
}

.oak_admin_header__icon_button {
    padding: 15px;
}

.oak_admin_header_button_border_right {
    border-right: 1px solid white;
}

.oak_admin_header_button span {
    color: white;
}

.oak_admin_header_button:hover {
    cursor: pointer;
    background-color: #f15c3b;
}

.oak_admin_header__right_part, .oak_admin_header__left_part {
    display: flex;
}

.oak_admin_header_icon {
    width: 25px;
}